.DS_Store
download_pubs.sh
publications.html
logo-compare.html
images/publications/
images/team/logo-option-a.svg
images/team/logo-option-b.svg
images/team/logo-option-c.svg
images/team/logo-option-d.svg
images/team/logo-option-e.svg
images/team/logo-option-f.svg
images/team/logo-option-g.svg
images/team/logo-option-h.svg
images/team/logo-option-i.svg
images/team/logo-option-j.svg
images/team/logo-option-k.svg
images/team/logo-option-l.svg
images/team/logo-option-m.svg
images/team/logo-option-n.svg
images/team/logo-option-o.svg
images/team/logo-option-p.svg
images/team/logo-option-r.svg
images/team/logo-option-s.svg
images/team/logo-color.png
images/team/logo-custom.svg
images/team/logo.png
